---
import BaseLayout from '../layouts/BaseLayout.astro';
import SturlupediaLogo from '../components/SturlupediaLogo.astro';
const pageTitle = "Sturlupedia";
---
<BaseLayout pageTitle={pageTitle}>
  <h1><SturlupediaLogo fontsize='2rem'/></h1>
</BaseLayout>
