---
import WikiLayout from "../../layouts/WikiLayout.astro";

const pageTitle="Droplaugarsona saga";
const image="/droplaugarsonasaga.png";
const overview = "The story revolves around the lives of Ketill and his brother Atli, wealthy merchants, and their families. Ketill marries Arneiður and they have a son named Þiðrandi, who later marries Yngveldur, giving birth to a lineage marked by wealth, power, and strife. Throughout the narrative, various disputes and conflicts arise, many involving <a href='/wiki/helgi'>Helgi Droplaugarson</a>, who becomes a prominent figure in the saga. The tale concludes with the eventual demise of key characters, including Grímur, and the subsequent settling of their descendants in Iceland.";
const chapters=[
{
    id:"Summary", 
    name:"Summary", 
    text:[
    "Ketill and Atli, wealthy merchants, establish their families in Iceland, with Ketill marrying Arneiður and fathering Þiðrandi, who later marries Yngveldur. They have many children, including Ketill and Þorvaldur, who inherit their father's wealth and positions but struggle to get along. Various characters are introduced, and a series of conflicts arise, involving Droplaug, Helgi's wife, who tragically drowns while returning from visiting her mother. Later, Helgi marries Þórdís, and Þorfinnur visits Þórir, where they discuss the most prominent woman in the region, ultimately deciding on Droplaug. This leads to tension and subsequent acts of revenge among the characters.",

    "As the story progresses, Helgi Droplaugarson, a skilled and respected man, becomes entwined in various disputes and legal matters. Helgi supports Thorgeir in a livestock dispute against Thordur, leading to a court case with an unsatisfactory outcome for Helgi. Later, he helps Thorsteinn deal with his wife's affair and ends up killing her lover, Bjorn. Accused of murder, Helgi is able to avoid punishment by proving Bjorn's burial was proper and eventually settles the matter with compensation.",

    "Towards the end of the saga, Helgi Droplaugarson faces various challenges and ultimately meets a tragic fate. He becomes involved in a financial dispute with Rannveig and Thorgrimur Skinnhufa, which leads to a violent confrontation. Helgi is gravely wounded in battle but kills Helgi Ásbjarnarson, one of his attackers, before succumbing to his injuries. Grímur, Helgi's brother, avenges his death by killing Helgi Ásbjarnarson but is later declared an outlaw and goes into hiding. Grímur eventually dies after defeating a viking named Gaus, and his widow, Helga, sails to Iceland with their wealth and settles at Arneiðarstaði."
        ],
        subsections:[]
    },
    {
        id:"Main_characters", 
        name:"Main characters",
        text:[
            "<ul>" +
                "<li><b>Ketill</b> - A wealthy merchant who bought Arneiður's freedom and settled in Reyðarfjörður.</li>" +
                "<li><b>Arneiður</b> - A mistreated woman saved by Ketill, who later marries him.</li>" +
                "<li><b>Þiðrandi</b> - Ketill and Arneiður's son, who married Yngveldur and had children with her.</li>" +
                "<li><b>Helgi Droplaugarson</b> - Þiðrandi's son, a skilled man with a complicated life and involvement in various disputes.</li>" +
                "<li><b>Grímur</b> - Helgi Droplaugarson's brother who avenged Helgi's death and later died in Upplönd.</li>" +
                "<li><b>Þorkell Geitisson</b> - A loyal friend and ally of Grímur who helped him during difficult times.</li>" +
                "<li><b>Helgi Ásbjarnarson</b> - A powerful chieftain involved in multiple disputes and confrontations with Helgi Droplaugarson.</li>" +
                "<li><b>Hrafnkell</b> - A man seeking Helgi Droplaugarson's help in obtaining equal power to Helgi Ásbjarnarson.</li>" +
                "<li><b>Droplaug</b> - Helgi Droplaugarson's mother, who eventually moved to the Faroe Islands.</li>" +
                "<li><b>Þórdís</b> - Helgi Ásbjarnarson's wife and later Höskuldur's wife, who married Helgi's daughter.</li>" +
                "<li><b>Þorvaldur</b> - Þiðrandi's son and Helgi Droplaugarson's brother, who married Droplaug.</li>" +
                "<li><b>Thorgeir</b> - A man involved in a livestock dispute supported by Helgi Ásbjarnarson and Helgi Droplaugarson.</li>" +
                "<li><b>Sveinungur</b> - A friend of Helgi Droplaugarson who lived in Borgarfjord.</li>" +
                "<li><b>Finngeir</b> - A man in Upplönd who offered shelter and assistance to Grímur and Þorkatli.</li>" +
                "<li><b>Gefjun</b> - Gaus's former lover who posed as a healer and caused Grímur's death.</li>" +
            "</ul>"
            ],
        subsections:[]
    },
    {
        id:"Chapter_summaries", 
        name:"Chapter summaries", 
        text:[],
        subsections:[
        {
            id: "Chapter_1",
            name: "Chapter 1",
            text: "Ketill and his brother Atli were wealthy merchants who often traveled for trade. Ketill sailed to Jamtaland to visit his friend Véþormur and noticed a mistreated woman named Arneiður, the daughter of a jarl attacked by Véþormur and his brothers. Ketill bought her freedom and they discovered a chest full of silver together. That summer, they sailed to Iceland with Véþormur's brothers Grímur and Ormar. Ketill returned to his farm in Reyðarfjörður, while Grímur settled in Grímsnes."
        },
        {
            id: "Chapter_2",
            name: "Chapter 2",
            text: "Ketill bought land in Lagarfljót and Atli bought land east of the river. Ketill married Arneiður, and they had a son named Þiðrandi, who later married Yngveldur. Þiðrandi and Yngveldur had many children, including sons Ketill and Þorvaldur. When their father passed away, Ketill and Þorvaldur inherited his wealth and positions but struggled to get along. Þorvaldur married Droplaug and had two sons, Helgi and Grímur. After Þorvaldur's death, Droplaug continued to live on the farm with her sons, who grew up to be skilled and respected men."
        },
        {
        id: "Chapter_3",
        name: "Chapter 3",
        text: "Bessi, Hólmsteinn, Hallsteinn, Þorgeir, Helgi Ásbjarnarson, Hrafnkell, Án, Össur, Hjarrandi, and Björn are introduced as various men living in different places. Droplaug, Helgi's wife, travels to Bessastaðir to visit her mother, but on her return journey, she and her slaves tragically drown when their oxen fall into a hole in the ice. Later, Helgi remarries to Þórdís. Þorfinnur visits Þórir, where the men discuss who they believe to be the most prominent woman in the region, ultimately deciding on Droplaug. Þorgrímur makes a negative comment about Droplaug, which angers Helgi and his brother Grímur. They seek revenge by killing Þorgrímur, disguising their actions as a hunting trip. After the killing, they return home to Arneiðarstaðir."
        },
        {
            id: "Chapter_4",
            name: "Chapter 4",
            text: "Þórir learns of Þorgrímur's murder and tells Helgi Ásbjarnarson, who admits his involvement. Droplaug sends her sons to Geiti in Krossavík, but they get lost in a storm and accidentally end up at Spak-Bessi's sacrificial temple. Spak-Bessi later settles their dispute over the killing, and they go to Geiti. Helgi and Grímur attend a council, where they make amends for Þorgrímur's murder. Helgi becomes a law student and takes cases against Helgi Ásbjarnarson's allies. Eindriði returns from Ireland and marries Droplaug. Grímur marries Ingjaldur's daughter, and they live together with Ingjaldur. Hrafnkell seeks Helgi's help in obtaining equal power to Helgi Ásbjarnarson, who has been showing favoritism to Án trúður. Helgi Droplaugarson reveals the favoritism, leading to a tense situation before a compromise is reached. Hrafnkell is granted equal power to Helgi Ásbjarnarson for a period before they share power and Helgi supports Hrafnkell in legal matters."
        },
        {
            id: "Chapter_5",
            name: "Chapter 5",
            text: "During a harsh winter, Thorgeir loses livestock and buys sheep from Thordur. The sheep wander off, and Thorgeir later finds Thordur's family using his ewes. Thorgeir seeks compensation, but Thordur refuses. Helgi Asbjarnarson supports Thorgeir, leading him to seek help from Helgi Droplaugarson. The case goes to court, and eventually, Thordur pays for cow carcasses as compensation, leaving Helgi Droplaugarson unsatisfied with the outcome."
        },
        {
            id: "Chapter_6",
            name: "Chapter 6",
            text: "Sveinungur lives in Borgarfjord and is a friend of Helgi Droplaugarson. Helgi spends time with Sveinungur during the winter. Thordis, a relative of Helgi, is married to Thorsteinn but has an affair with Bjorn. Thorsteinn asks Helgi for help, and Helgi tries to persuade Bjorn to stop seeing Thordis. When Bjorn refuses, Helgi kills him, hides the body, and accuses him of wrongdoing. Helgi Asbjarnarson investigates and accuses Helgi Droplaugarson of murder. At the court, witnesses testify that Bjorn's burial was proper, making the case against Helgi Droplaugarson invalid. He then tries to have Bjorn declared guilty, but Helgi Asbjarnarson offers compensation, and they settle the matter with a payment of one hundred silver coins."
        },
        {
            id: "Chapter_7",
            name: "Chapter 7",
            text: "Helgi Droplaugarson visits his mother Droplaug and stepfather Hallsteinn after a long absence. Droplaug encourages Hallsteinn to invite Helgi to stay for the winter, which he does. Hallsteinn's slave, Thorgils, speaks with Helgi and Droplaug in secret one day. Later, Thorgils kills Hallsteinn with Helgi's axe, but Helgi kills Thorgils in turn. Suspicion arises about the secret conversation between Helgi, Droplaug, and Thorgils before the murder. Helgi Asbjarnarson brings charges against Helgi and Droplaug for Hallsteinn's murder. As people leave for the assembly, Droplaug takes her possessions and her young son, Herjolfur, and sails to the Faroe Islands, where she buys land and lives out her life, no longer part of the story."
        },
        {
            id: "Chapter_8",
            name: "Chapter 8",
            text: "Helgi Asbjarnarson takes on the case against Helgi Droplaugarson because Hallsteinn's sons are not in the country. At the assembly, the settlement reached is that Helgi Droplaugarson must pay a significant sum for Hallsteinn's murder and go abroad for three years. However, Helgi Droplaugarson does not go abroad, and he travels around the region with his brother Grímur as if he is innocent. Later, Hallsteinn's sons, Thoroddur and Thorkell, return to Iceland and reward Helgi Asbjarnarson for his help in the case. Helgi Droplaugarson is then asked by his relative Rannveig to help with a livestock dispute between her and her husband, Thorgrimur Skinnhufa. Helgi Droplaugarson and Helgi Asbjarnarson have a tense encounter at an assembly, exchanging hostile words and foreshadowing a future confrontation."
        },
        {
            id: "Chapter_9",
            name: "Chapter 9",
            text: "Flosi from Svínafell asked Thorkell Geitisson to gather men from the north to avenge the death of Arnor, Halldor's brother. Thorkell and his men went south to join Flosi. Meanwhile, Helgi Droplaugarson decided to travel east to settle a financial dispute with his kinswoman Rannveig and Thorgrimur Skinnhufa. Along the way, he stayed with Thorkell of Torfastaðir and had a heartfelt conversation with Thorkell's daughter Tófa. Helgi gave Tófa his knife and belt, believing he might not return from his journey. Helgi and his men continued, meeting with Gro at Eyvindará and Thorbjorn, who offered to tend to Helgi's sword. Helgi met with Thorkell, brother of Thórarinn from Sauðarfjörður, and they decided to travel together. When Helgi met Rannveig, they agreed to part ways with Thorgrimur Skinnhufa. Thorgrimur sought help from Thórarinn Moldoxi, who advised him to seek Helgi Ásbjarnarson's assistance. Helgi Ásbjarnarson sent men to Mjóvanes to meet with Helgi Droplaugarson, who then traveled with eighteen men to confront his enemies."
        },
        {
            id: "Chapter_10",
            name: "Chapter 10",
            text: "Thorkell joins Helgi Droplaugarson in Fannardal and they set out on their journey, with nine men in total. During the journey, Helgi has ominous dreams of wolves attacking them. Thorkell suggests that there might be an ambush waiting for them. They continue their journey, encountering various characters along the way, including an old woman named Thordis. Eventually, they find themselves in a battle where eighteen men charge towards them. Helgi and his men attempt to retreat but fail. The battle ensues, with both sides suffering casualties. Helgi kills Helgi Ásbjarnarson, one of his attackers, and severely injures several others, including Hjarrandi, who becomes incapacitated. Helgi's brother, Grim, is mortally wounded, and Helgi takes his sword to continue fighting. Össur, who initially didn't want to fight Helgi, ends up striking him with a spear. Despite being impaled, Helgi advances towards Össur, who quickly dislodges the spear and escapes. Helgi eventually succumbs to his injuries and dies. Among the casualties are Thorkell, Helgi's traveling companion, an Eastman who accompanied them, and Grim, Helgi's brother."
        },
        {
            id: "Chapter_11",
            name: "Chapter 11",
            text: "Helgi Ásbjarnarson and Hjarrandi left the battle injured, while Kári was carried home and buried. At Höfði, people discussed the day's events and praised Helgi Droplaugarson's bravery. Gróa learned about the battle and asked her son Bárður to find and bring Helgi and Grímur home. The wounded brothers were found and transported in a sled, while the dead were buried. Back home, Gróa focused on tending to Grímur and sought the help of healer Álfgerður. The two women managed to save Grímur's life. Rumors circulated about Grímur's survival, causing Helgi Ásbjarnarson to prepare a final resting place for him. Grímur eventually traveled to Krossavík to meet Þorkell Geitisson, who welcomed him warmly."
        },
        {
            id: "Chapter_12",
            name: "Chapter 12",
            text: "Helgi Ásbjarnarson bought land at Eiðum and sold Mjóvanes, preferring the area where his supporters were nearby. His wife Þórdís questioned the decision due to the dense forest, but Helgi recited a verse to explain his choice. Grímur stayed in Krossavík, never laughing after Helgi's death, and managed the farm while Þorkell went to Eyjafjörður to reconcile with his followers. Grímur decided to collect a debt from a man named Þorgrímur and left home with his foster brothers, Glúmur and Þorkell trani. They traveled to Rangá river, crossed it, and stole a pál and reku from Bakki farm. They then built a hidden shelter near Oddmarslækur, intending to use it if they needed protection."
        },
        {
            id: "Chapter_13",
            name: "Chapter 13",
            text: "While riding away from Lambanesþingi, many men went to Eiðar with Helgi Ásbjarnarson, accompanied by his kinsmen Björn and Hjarrandi. That evening, Helgi asked his wife where she planned to have their guest Ketilormur sleep, and she prepared a good bed for him outside the room. However, Helgi insisted that they should sleep in their own bed, as they always did. Later, Grímur asked Þorkell to fetch a sword and find where Helgi was resting. After locating him, Grímur told Þorkell that he should be the one to avenge his brother Helgi, but Þorkell felt it was more appropriate for Grímur to do it himself. Grímur eventually agreed and attacked Helgi with the sword, fatally wounding him. He then fled the scene, causing confusion among the others. Eventually, Grímur met with Þorkell and shared the news of Helgi's death."
        },
        {
            id: "Chapter_14",
            name: "Chapter 14",
            text: "Hrafnkell goði accused Grímur of a crime and demanded compensation. Grímur was declared an outlaw when Þorkell Geitisson's offer to pay was refused. Grímur went into hiding, with his whereabouts being speculated upon by those who encountered his shelter. Þorkell, a wise man and Grímur's relative, was paid to find him but chose not to disclose his location. Ingjaldur helped Grímur and Þorkatli escape by arranging passage on a ship in secret. They eventually reached Upplönd, where they met Finngeir and his sister Sigríður, who offered them shelter and assistance. Finngeir then proposed that Grímur could stay and take over his brother's property, which Grímur accepted."
        },
        {
            id: "Chapter_15",
            name: "Chapter 15",
            text: "Gaus, a vicious viking, terrorized Upplönd and challenged Finngeir to a duel. Grímur, who was staying with Finngeir, offered to fight Gaus instead. Grímur managed to defeat Gaus but was injured by him. A mysterious woman who claimed to be a healer tended to Grímur's wound, but his condition worsened, and he later died. The woman was later revealed to be Gefjun, Gaus's former lover. After Grímur's death, Helga, his widow, sailed to Iceland with their wealth and Þorkell trani. She eventually settled at Arneiðarstaði. Meanwhile, Helgi Ásbjarnarson's daughter, Þórdís, married Höskuldur, who later avenged Helgi's death by executing Glúmur. Helga and her son Þorkell lived at Arneiðarstaði after Ingjald passed away."
        }
        ]
    }
];
---
<WikiLayout pageTitle={pageTitle} image={image} overview={overview} chapters={chapters}>
    <h4>Families</h4>
    <div class="family_trees">
        <div class="family_tree">Ketill ────┬─── Arneiður
           │
        Þiðrandi ──┬─── Yngveldur
                   │
       ┌─────── Ketill
       │
       │
       └─ Þorvaldur ──┬─── Droplaug
                      │
           ┌─────── <a href="/wiki/helgi">Helgi</a>
           │
           │
           └─ Grímur</div>

        <div class="family_tree">Véþormur ──┬─── Unknown
           │
       ┌─── Grímur
       │
       │
       └─── Ormar</div>
        <div class="family_tree">Helgi Ásbjarnarson ──┬─── Þórdís
                     │
                 Höskuldur</div>
    </div>
    <h4>Locations</h4>
    <div class="sidebar_table">
        <div class="attr">Reyðarfjörður</div>
        <div class="val">Ketill's farm, where he returned to after his trip to Jamtaland.</div>
        
        <div class="attr">Grímsnes</div>
        <div class="val">The place where Grímur settled after sailing to Iceland with his brothers.</div>
        
        <div class="attr">Lagarfljót</div>
        <div class="val">The location where Ketill bought land and married Arneiður.</div>
        
        <div class="attr">Bessastaðir</div>
        <div class="val">The place where Droplaug visits her mother, and later tragically drowns on her return journey.</div>
        
        <div class="attr">Arneiðarstaðir</div>
        <div class="val">The home of Helgi and Grímur after they kill Þorgrímur, and later where Helga and Þorkell settle.</div>
        
        <div class="attr">Krossavík</div>
        <div class="val">Spak-Bessi's sacrificial temple, where Helgi and Grímur end up accidentally during a storm.</div>
        
        <div class="attr">Fannardal</div>
        <div class="val">Thorkell joins Helgi Droplaugarson here, and they set out on their journey together.</div>
        
        <div class="attr">Eyvindará</div>
        <div class="val">A place Helgi meets with Gro during his journey east to settle a financial dispute.</div>
        
        <div class="attr">Mjóvanes</div>
        <div class="val">Helgi Ásbjarnarson sends men here to meet with Helgi Droplaugarson regarding the conflict between them.</div>
        
        <div class="attr">Eiðum</div>
        <div class="val">Helgi Ásbjarnarson buys land here and sells Mjóvanes, preferring to be near his supporters.</div>
        
        <div class="attr">Krossavík</div>
        <div class="val">Grímur stays here after Helgi's death and manages the farm while Þorkell goes to Eyjafjörður.</div>
        
        <div class="attr">Upplönd</div>
        <div class="val">Grímur and Þorkatli reach this place after escaping Iceland and meet Finngeir and his sister Sigríður.</div>
    </div>

</WikiLayout>
