---
import WikiLayout from "../../layouts/WikiLayout.astro";

const pageTitle="Eiríks saga rauða";
const image="/eirikssagarauda.png";
const overview = "In this Icelandic saga, Óleifur the White and his son Þorsteinn the Red conquer territories before being killed, leading Óleifur's widow, Auður, to move to Iceland. <a href='/wiki/eirikur'>Eiríkur the Red</a> settles in Iceland, only to be exiled after conflicts with other settlers, and later discovers and colonizes Greenland. Þorvaldur and his sons, Þorsteinn and Leifur, explore new lands, with Leifur bringing Christianity to Greenland. Þorfinnur Karlsefni and his companions search for Vinland, encountering various lands and peoples along the way. After numerous adventures, the saga concludes with the return of Karlsefni and Guðríður to Iceland, and the establishment of their family line.";
const chapters=[
    {
        id:"Summary", 
        name:"Summary", 
        text:[
        "The saga begins with Óleifur the White and Auður, who have a son named Þorsteinn the Red. After Óleifur's death, Þorsteinn becomes a warlord and conquers parts of Scotland before being killed. Auður travels to Orkney and then settles in Iceland with twenty free men. Þorvaldur and his son, Eiríkur the Red, also settle in Iceland due to conflicts in their homeland. Eiríkur is later exiled and discovers Greenland, where he establishes a settlement and attracts settlers.",

        "Thorbjorn, a respected chieftain, settles in Greenland after a difficult journey, while his daughter Gudrid marries Þorsteinn Eiríksson. When Þorsteinn dies, Gudrid marries Þorfinnur Karlsefni, and they join Snorri Þorbrandsson, Bjarni Grímólfsson, and Þórhallur Gamlason in a search for Vinland. They explore various lands, encountering native peoples and abundant resources before deciding to return to Greenland due to the potential for constant conflict with the native population.",

        "The saga concludes with the group's return to Greenland and their various fates. Bjarni Grimolfsson's ship is destroyed by shipworms, and he sacrifices his life to save a young crew member. Meanwhile, Karlsefni and Guðríður return to Iceland, where they settle and establish a prosperous family line, marking the end of the story."
        ],
        subsections:[]
    },
    {
        id:"Main_characters", 
        name:"Main characters",
        text:[
            "<ul>" +
                "<li><b>Óleifur the White</b> - Powerful king who conquered Dyflinn, married Auður, and fathered Þorsteinn the Red.</li>" +
                "<li><b>Þorsteinn the Red</b> - Son of Óleifur, warlord who conquered parts of Scotland before being betrayed and killed.</li>" +
                "<li><b>Auður</b> - Wife of Óleifur, mother of Þorsteinn, and Christian settler of Iceland.</li>" +
                "<li><b>Vífill</b> - Former captive of Óleifur who settled in Iceland and fathered Þorgeir and Þorbjörn.</li>" +
                "<li><b>Þorvaldur</b> - Father of Eiríkur the Red, who settled in Iceland due to conflicts.</li>" +
                "<li><b>Eiríkur the Red</b> - Icelandic settler who discovered and named Greenland.</li>" +
                "<li><b>Þjóðhildur</b> - Wife of Eiríkur the Red and mother of Þorsteinn and Leifur.</li>" +
                "<li><b>Leifur the Lucky</b> - Son of Eiríkur, explorer who brought Christianity to Greenland.</li>" +
                "<li><b>Þorsteinn Eiríksson</b> - Son of Eiríkur, explorer who attempted to find the lands discovered by his brother Leifur.</li>" +
                "<li><b>Thorgeir Vífilsson</b> - Son of Vífill, married Arnora and brother of Þorbjörn.</li>" +
                "<li><b>Þorbjörn</b> - Son of Vífill, married Hallveig and fathered Gudrid.</li>" +
                "<li><b>Gudrid Thorbjarnardottir</b> - Daughter of Þorbjörn, engaged to Thorstein Eriksson.</li>" +
                "<li><b>Þorfinnur Karlsefni</b> - Wealthy merchant, married Gudrid and embarked on a journey to find Vinland.</li>" +
                "<li><b>Snorri Þorbrandsson</b> - Fellow traveler with Karlsefni on the journey to Vinland.</li>" +
                "<li><b>Bjarni Grímólfsson</b> - Merchant who journeyed to Greenland and eventually perished due to shipworms.</li>" +
                "<li><b>Þórhallur Gamlason</b> - Fellow merchant who journeyed to Greenland with Bjarni.</li>" +
                "<li><b>Thorhall the Hunter</b> - Member of Karlsefni's group who split off to search for Vinland northward.</li>" +
                "<li><b>Freydis</b> - Brave woman who defended herself during a battle with the newcomers.</li>" +
                "<li><b>Thorvald Eiriksson</b> - Member of Karlsefni's group who was injured by a uniped.</li>" +
                "<li><b>Thorbjorg</b> - A prophetess who predicted the end of a famine in Greenland.</li>" +
                "<li><b>Thorkell</b> - Hospitable farmer in Greenland who took in Thorbjorn's group during a harsh winter.</li>" +
                "<li><b>Haki and Hekja</b> - Scottish servants who joined Karlsefni's group in their search for Vinland.</li>" +
            "</ul>"
            ],
        subsections:[]
    },
    {
        id:"Chapter_summaries", 
        name:"Chapter summaries", 
        text:[],
        subsections:[
            {   
                id:"Chapter_1", 
                name:"Chapter 1",
                text:"Óleifur the White, a powerful king, conquered Dyflinn in Ireland and married Auður, having a son named Þorsteinn the Red. After Óleifur's death in battle, Þorsteinn became a warlord and conquered parts of Scotland before being betrayed and killed. Auður then traveled to Orkney, arranging her granddaughter's marriage, and eventually settled in Iceland with twenty free men, including former captive Vífill. A devout Christian, she claimed land and erected crosses at her settlement, later giving Vífill land to settle where he raised two promising sons, Þorgeir and Þorbjörn."
            },
            {   
                id:"Chapter_2", 
                name:"Chapter 2",
                text:"Þorvaldur and his son, Eiríkur the Red, settled in Iceland due to conflicts in their homeland. After Þorvaldur's death, Eiríkur married Þjóðhildur and moved north, establishing a farm. Conflicts arose between Eiríkur and other settlers, leading to bloodshed and Eiríkur's eventual exile. Eiríkur then decided to search for the land seen by Gunnbjörn, son of Úlfur kráka, to the west. He set sail and explored the region, naming it Greenland to attract settlers. He spent three winters in Greenland, exploring the coast and giving names to various locations. Afterward, Eiríkur returned to Iceland, where he reconciled with his enemies and began recruiting settlers for Greenland."
            },
            {   
                id:"Chapter_3", 
                name:"Chapter 3",
                text:"Thorgeir Vífilsson married Arnora, and his brother, Thorbjorn, married Einar's other daughter, Hallveig. Thorbjorn, a respected chieftain, had a daughter named Gudrid. Einar, a wealthy man from Thorgeirsfell, met Gudrid and wanted to marry her, but Thorbjorn refused due to Einar's past as a slave. Later, Thorbjorn decided to move to Greenland to visit his friend Eirik the Red. He sold his lands in Iceland and prepared a ship for the journey, joined by friends including Ormur and his wife, Halldis. They faced harsh weather and disease during the journey, which led to the deaths of Ormur, Halldis, and half of their crew. Eventually, they arrived at Herjolfsnes in Greenland, where they were taken in by Thorkell, a hospitable farmer, who provided for them generously throughout the winter."
            },
            {   
                id:"Chapter_4", 
                name:"Chapter 4",
                text:"During this time, there was a great famine in Greenland. A woman named Thorbjorg, known as a prophetess and 'little witch,' was invited to the home of Thorkell, the most prominent farmer in the area, to predict when the famine would end. Thorbjorg was welcomed and treated well according to the customs of the time. After examining the living conditions and people, she said she would provide answers the next morning. To perform her prophecy, she required the help of women skilled in a specific type of chant called Varðlokur. Gudrid, who knew the chant but was a Christian woman, was initially hesitant but eventually agreed to help. Thorbjorg successfully performed her prophecy, predicting the famine would end soon, and provided answers to people's questions. Her predictions proved accurate, and the famine ended as the weather improved. Thorbjorn then prepared his ship and traveled to Brattahlíð, where Eirik the Red welcomed him warmly. Eirik gifted Thorbjorn land at Stokkanes, where he built a comfortable farm and lived there afterward."
            },
            {   
                id:"Chapter_5", 
                name:"Chapter 5",
                text:"Eiríkur had a wife named Þjóðhildur and two sons, Þorsteinn and Leifur, both promising men. While Þorsteinn stayed with his father, Leifur sailed to Norway and spent time with King Ólafur Tryggvason. During his travels, Leifur encountered Þórgunna, a noblewoman with whom he had a son named Þorgils. Eventually, Leifur returned to Greenland, bringing Christianity to the land and earning the nickname 'Leifur the Lucky' for his many accomplishments. Despite initial resistance from Eiríkur, many Greenlanders, including Þjóðhildur, converted to the new faith. Later, Þorsteinn Eiríksson led an expedition to the lands Leifur had discovered, but the journey proved difficult, and the crew eventually returned to Greenland, where they were welcomed by Eiríkur."
            },
            {   
                id:"Chapter_6", 
                name:"Chapter 6",
                text:"In this chapter, Thorstein Eriksson gets engaged to Gudrid Thorbjarnardottir and they have a wedding feast in Brattahlid. They move to Vestribyggd, where they spend the winter. A sickness befalls the household, resulting in the deaths of many, including Thorstein Eriksson and Sigrid, the wife of another Thorstein who co-owned the farm. Gudrid has a series of strange encounters with the deceased, including her husband who advises her not to remarry a Greenlandic man and to use their wealth for the church or to help the poor. Eventually, the bodies are brought to the church for proper Christian burials. After these events, Thorbjorn dies and Gudrid inherits all the wealth, with Erik taking care of her."
            },
            {   
                id:"Chapter_7", 
                name:"Chapter 7",
                text:"Þorfinnur Karlsefni, a wealthy and well-born merchant, prepared his ship for a journey to Greenland, accompanied by Snorri Þorbrandsson and forty men. Two other merchants, Bjarni Grímólfsson and Þórhallur Gamlason, also set sail for Greenland with their own ship and crew. Both ships arrived in Eríksfjörð in the autumn, where Eiríkur welcomed them and offered them winter accommodations at his farm in Brattahlíð. The merchants enjoyed Eiríkur's generosity, but as Yule approached, Eiríkur became gloomy. Karlsefni noticed this and offered to share his supplies for a grand Yule feast, which Eiríkur accepted. After Yule, Karlsefni asked Eiríkur for permission to marry Guðríður, a beautiful and knowledgeable woman. Eiríkur agreed, stating that she was worthy of good fortune. The couple married, and the celebrations continued throughout the winter."
            },
            {   
                id:"Chapter_8", 
                name:"Chapter 8",
                text:"During the winter in Brattahlíð, there were many discussions and stories about the search for Vinland. Karlsefni and Snorri decided to search for Vinland in the summer, and they were joined by Bjarni, Þórhallur, and others. Their group included forty men and two Scottish servants, Haki and Hekja. They sailed to Helluland, Markland, and then to Kjalarnes. They left the Scottish servants on land to explore the area and then sailed into Straumsfjörð. There, they set up camp and spent the winter, struggling with food scarcity. They prayed to God for help, and a whale washed ashore. However, after eating the whale, everyone fell ill. Þórhallur credited the god Thor for the whale, but the group rejected the meat and prayed for God's mercy. After that, they rowed out and found ample provisions. In the spring, they moved back to Straumsfjörð and enjoyed plentiful resources from both the land and the sea."
            },
            {   
                id:"Chapter_9", 
                name:"Chapter 9",
                text:"Thorhall the Hunter wanted to go north around Furdustrandir and Kjalarnes to search for Vinland, while Karlsefni preferred to go south and east, believing that the land was larger and more promising in that direction. Thorhall left with nine men, and the rest of the group went with Karlsefni. Before they set sail, Thorhall recited two verses. They parted ways, and Thorhall's group faced strong winds, which pushed them off course and up towards Ireland. There, they faced great hardships, and Thorhall ultimately lost his life."
            },
            {   
                id:"Chapter_10", 
                name:"Chapter 10",
                text:"Karlsefni, Snorri, Bjarni, and their group traveled south and east for a long time until they reached a river that flowed from land to sea. They sailed to the river's mouth and named the land Hop. There, they found self-sown wheat fields, grapevines, and abundant fish and wildlife. They spent half a month enjoying themselves, unaware of any danger. One morning, they saw nine hide-covered boats with tree branches being waved, seemingly as a peace symbol. Karlsefni and his group raised a white shield in response. The newcomers were small, ugly men with bad hair, wide-set eyes, and broad cheeks. After a brief encounter, they rowed away to the south. Karlsefni and his group stayed there for the winter, with no snow and their livestock roaming freely."
            },
            {   
                id:"Chapter_11", 
                name:"Chapter 11",
                text:"One morning, the group saw numerous hide-covered boats approaching, leading to trade with the newcomers, who desired red cloth. A fierce battle ensued when the newcomers returned in larger numbers. Freydis bravely defended herself, causing the attackers to retreat. Karlsefni and his group decided to leave the area due to the potential for constant conflict. They explored further, finding more land and resources before returning to Straumsfjord. Some people believe that part of the group stayed behind while others went south."
            },
            {   
                id:"Chapter_12", 
                name:"Chapter 12",
                text:"One morning, Karlsefni's group saw a glimmering speck, which turned out to be a uniped that injured Thorvald Eiriksson. They chased the creature but lost sight of it. As they traveled, they believed they saw Uniped Land but didn't want to risk their lives exploring further. They returned to Straumsfjord and stayed for the third winter, during which tensions rose among the men. Karlsefni's son Snorri was three years old when they left. They encountered five Skrælings on their way back, capturing two boys and teaching them their language. The boys shared information about their land and its rulers. The group eventually reached Greenland and spent the winter with Eirik the Red."
            },
            {   
                id:"Chapter_13", 
                name:"Chapter 13",
                text:"Bjarni Grimolfsson's ship encountered a mass of shipworms, which began to destroy it. They decided to use a boat covered in tar to escape, but it could only hold half of the crew. Bjarni proposed that they should draw lots to determine who would board the boat, and he ended up being among those chosen. When one young crew member, Bjarni's former travel companion, asked if they were to part ways, Bjarni offered to switch places with him. The two exchanged places, and it is said that Bjarni and those left on the ship perished in the sea. The survivors in the boat reached land and shared their story."
            },
            {   
                id:"Chapter_14", 
                name:"Chapter 14",
                text:"After returning to Iceland, Karlsefni and Guðríður settled at his home in Reynines. Karlsefni's mother initially disapproved of Guðríður but changed her mind after realizing Guðríður was a remarkable woman. They enjoyed a good relationship afterward. The couple's descendants included bishops and other notable figures, marking the end of this story."
            },
    ]},
    ];
---
<WikiLayout pageTitle={pageTitle} image={image} overview={overview} chapters={chapters}>
    <h4>Families</h4>
    <div class="family_trees">
        <div class="family_tree">Óleifur the White ──┬── Auður
                    │
            Þorsteinn the Red</div>
        <div class="family_tree">Þorvaldur ─┬─ <a href="/wiki/eirikur">Eiríkur the Red</a> ─┬─ Þjóðhildur
           │                   │
           ├──── Leifur ───────┤
           │    the Lucky      │
           └─── Þorsteinn ─────┘</div>
        <div class="family_tree"> Vífill ──┬── Þorgeir
          │
Þorbjörn ─┴── Gudrid ─── Þorsteinn Eiríksson</div>
        <div class="family_tree">Þorfinnur                Guðríður
Karlsefni ────┬────  Thorbjarnardottir
              │
              Snorri</div>
    </div>
    <h4>Locations</h4>
    <div class="sidebar_table">
        <div class="attr">Dyflinn,<br /> Ireland</div>
        <div class="val">Óleifur the White conquered this city and married Auður, leading to the birth of Þorsteinn the Red.</div>

        <div class="attr">Iceland</div>
        <div class="val">Auður traveled here after her son's death, where she claimed land and erected crosses at her settlement. Vífill was given land here as well.</div>

        <div class="attr">Greenland</div>
        <div class="val">Þorvaldur and Eiríkur the Red settled here, with Eiríkur naming the region and establishing a farm.</div>

        <div class="attr">Herjolfsnes,<br />  Greenland</div>
        <div class="val">Thorbjorn and his remaining crew were taken in by Thorkell, a hospitable farmer, after facing hardship during their journey.</div>

        <div class="attr">Brattahlíð,<br />  Greenland</div>
        <div class="val">Eiríkur the Red's farm, where Thorbjorn settled after his journey and Þorfinnur Karlsefni later married Gudrid.</div>

        <div class="attr">Vestribyggd,<br />  Greenland</div>
        <div class="val">Þorsteinn Eiríksson and Gudrid moved here after getting married and spent the winter.</div>

        <div class="attr">Eríksfjörð,<br />  Greenland</div>
        <div class="val">Þorfinnur Karlsefni and Snorri Þorbrandsson arrived here and were welcomed by Eiríkur the Red.</div>

        <div class="attr">Straumsfjörð,<br />  Greenland</div>
        <div class="val">Karlsefni and his group set up camp here, struggling with food scarcity before finding ample provisions.</div>

        <div class="attr">Furdustrandir<br />  and Kjalarnes,<br />  Greenland</div>
        <div class="val">Thorhall the Hunter traveled north around these areas in search of Vinland.</div>

        <div class="attr">Hop,<br />  Vinland</div>
        <div class="val">Karlsefni and his group reached this land, where they found abundant resources and engaged in trade and conflict with the local people.</div>

        <div class="attr">Uniped Land</div>
        <div class="val">Karlsefni's group believed they saw this land but did not explore it further due to the potential dangers.</div>

        <div class="attr">Straumsfjord,<br />  Greenland</div>
        <div class="val">Karlsefni and his group returned here for the third winter before departing for Iceland.</div>

        <div class="attr">Shipworm-<br /> infested sea</div>
        <div class="val">Bjarni Grimolfsson's ship was destroyed by shipworms, leading to a desperate escape attempt on a smaller boat.</div>

        <div class="attr">Reynines,<br />  Iceland</div>
        <div class="val">Karlsefni and Gudrid settled here after their adventures, marking the end of the story.</div>
    </div>

</WikiLayout>
